*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(#603880, #503880, #583888);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: gray;
    padding: 10px 9px;
    height: 2em;
}

a{
    text-decoration: none;
    color: gray;
    padding: 0 10px;
    font-size: 13px;
}

a.active{
    background-color: #304868;
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
}

a.active:hover{
    border-bottom: none;
}

a:hover{
    border-bottom: 1px solid gray;
}

.logo{
    margin-left: 30px;
}

.logo a{
    text-transform: uppercase;
    font-size: 25px;
}

.logo h2 a:hover{
    border-bottom: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    color: white;
}

.content h2{
    font-size: 35px;
    font-weight: lighter;
}

.context {
    margin-top: 1em;
    font-size: 12px;
    font-weight: normal;
}

.context p{
    line-height: 1.6;
}

.content ul{
    margin-top: 2em;
    align-items: start;
}

.content ul li{
    display: inline;
    margin: 5px;
    list-style: none;
    font-size: 12px;
    text-decoration: none !important;
}

.fab, .fas{
    color: white;
}

.content ul li a i:hover{
    text-decoration: none;
}

.content li:nth-child(4){
    margin-bottom: 0px;
}

input.cont-N{
    width: 320px;
    padding: 8px 0;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    margin: 8px 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

textarea.message{
    /* height: 5em; */
    width: 320px;
    border: none;
    border-bottom: 1px solid black;
    margin: 8px 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

textarea::placeholder{
    position: absolute;
    top: 60%;
    left: 0;
    overflow: hidden;
    font-size: 15px !important;
    font-family: sans-serif;
}

/* input box background when selected */
input::selection{
    background: transparent;
}

.submt{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.submt button{
    width: 150px;
    padding: 8px 0;
    border-radius: px;
    background: #0b3c7e;
    color: white;
    outline: none;
    border: none;
    font-size: 15px;
}

/* the footer section */
footer{
    background: #002030;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* the logo in the footer is hidden */
footer .logo{
    visibility: hidden;
}

footer .nav-bar{
    background-color: transparent;
    text-align: start;
    font-size: smaller;
    /* margin-left: 30px; */
}

/* the last anchor link in the footer is hidden */
footer .active{
    visibility: hidden;
}

.attribution {
    font-size: 13px;
    background: #002030;
    text-align: center;
    color: white;
    margin-top: 1em;
    height: 2em;
    width: 100%;
}
  
.attribution a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

.attribution a:hover{
    border-bottom: none;
    color: blueviolet;
}